<div class="m-3">
  <b>FOSSology</b> is a framework for software analysis tools.
  With it, you can:
<ul>
  <li>
    Upload files into the fossology repository.
  </li>
  <li>
    Unpack files (zip, tar, bz2, iso's, and many others) into its component files.
  </li>
  <li>
      Browse upload file trees.
  </li>
  <li>
      View file contents and meta data.
  </li>
  <li>
      Scan for software licenses.
  </li>
  <li>
      Scan for copyrights and other author information.
  </li>
  <li>
      View side-by-side license and bucket differences between file trees.
  </li>
  <li>
      Tag and attach notes to files.
  </li>
  <li>
      Report files based on your own custom classification scheme.
  </li>
</ul>
<p></p>
<b>
  Where to Begin...
</b><br/>

<ul>
<li>The menu at the top contains all the primary capabilities of FOSSology.</li>
<li>
  <b><a href="/">Login</a></b>:
  Depending on your account's access rights, you may be able to upload files, schedule analysis tasks, or
  even add new users.
</li>
</ul>
</div>
